@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.calc {
    width: 100%;
    height: auto;
    font-family: 'Roboto';
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc__container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

}

.calc__body {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.calc__titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.calc__titulo>h3 {
    font-size: 1.5rem;
    color: rgb(88, 88, 88);
    font-weight: 200;
}

.calc__titulo>h1 {
    font-size: 2.5rem;
    color: red;
}

.calc__lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.table,
.table__head>tr>th,
td {
    border-collapse: collapse;
    border-bottom: 0px solid rgb(224, 224, 224);
}

.table>thead>tr>th:nth-child(1) {
    width: 500px;
}

.table__head>tr>th {
    padding: .5rem 1.5rem;
    padding-bottom: 1rem;
    color: rgb(151, 151, 151);
    font-weight: bold;
    background-color: rgb(240, 242, 244);
}

.table__body>tr>td {
    padding: .2rem .4rem .2rem .4rem;
    font-weight: bold;
    color: #5a5a5a;
}

.table__body>tr>td:nth-child(4) {
    text-align: center;
}

.table__body>tr>td:nth-child(5) {
    text-align: right;
}

.table__body>tr>td:nth-child(5)>button {
    width: 20px;
    height: 20px;
    border: none;
    color: rgb(255, 0, 0);
    background-color: rgb(247, 247, 247);
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.table__body>tr>td:nth-child(5)>button:hover {
    background-color: rgb(235, 235, 235);
}

.table__body>tr>td:nth-child(2),
.table__body>tr>td:nth-child(3) {
    text-align: center;
}

.table__body>tr>td>input {
    width: 60px;
    padding: .3rem;
    font-size: 1.2rem;
    text-align: right;
    outline: none;
    border: 1px solid rgb(201, 201, 201);
}

.table__body>tr>td>input::-webkit-outer-spin-button,
.table__body>tr>td>input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mensaje {
    color: red;
    text-align: center;
    width: 100%;
}

.total_caloria {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

#btn_predecir {
    padding: .8rem;
    background-color: #30ce18;
    border: none;
    color: white;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.1s;
}


#btn_predecir:hover {
    background-color: #67e254;
}

#btn_predecir:active {
    background-color: #248815;
    color: rgb(224, 224, 224);
}


.alimentos {
    background-color: #3c4050;
    color: white;
    width: 350px;
    height: calc(100% - 80px);
    padding: 0 0.3rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    transition: right 0.2s;
    right: 0;
}


.alimentos__opcion {
    width: calc(100% + 80px);
    height: 50px;
    margin-left: -80px;
    background-color: #3c4050;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    align-items: center;
    color: white;
    display: none;
}

.btn__menu,
.btn__cerrar {
    cursor: pointer;
}

.alimentos>h3 {
    text-align: center;
    color: #ffffff;
}

.alimentos>input {
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    font-size: 1rem;
    padding: .2rem .5rem;
    width: 90%;
    margin: 1rem 0;
}

.alimentos__lista {
    padding: 0 .3rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: .2rem;
    overflow-y: scroll;
}

.alimentos__lista::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scrollbar */
}

.alimentos__lista::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    /* Color del thumb */
    border-radius: 5px;
    /* Radio de borde del thumb */
}

.alimentos__lista>div {
    display: flex;
    justify-content: space-between;
    padding: .3rem 0;
    align-items: flex-start;
}


.alimentos__lista>div>button {
    width: 100%;
    max-width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.alimentos__lista>div>button:hover {
    background-color: #67e254;
}

.alimentos__lista>div>button:active {
    background-color: #248815;
    color: rgb(224, 224, 224);
}



.unida-de-medida {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}



@media (max-width: 1000px) {
    .alimentos {
        width: 300px;
    }
}

@media (max-width: 945px) {
    .alimentos {
        width: 220px;
    }

}

@media (max-width: 897px) {
    .calc__body {
        margin: 0 auto;
    }

    .alimentos {
        width: 350px;
        height: calc(100% - 80px);
        padding-right: 2.1rem;
        right: -390px;
    }

    .mostrar__alimento {
        right: 0;
    }

    .alimentos__opcion {
        display: flex;
    }

    .calc__body {
        width: 100%;
        padding: 0 1rem;
    }
}

@media (max-width: 585px) {
    .calc__titulo>h3 {
        font-size: 1rem;
    }

    .calc__titulo>h1 {
        font-size: 1.6rem;
    }

    .calc__lista {
        align-items: center;
    }

    .table>thead>tr>th:nth-child(1) {
        width: auto;
    }

    .table__head>tr>th {
        font-size: .8rem;
        padding: 0 5px;
    }

    .table__body>tr>td {
        font-size: .9rem;
        padding: 0 5px;
    }

    .table__body>tr>td>input {
        width: 40px;
    }

    .calc__body {
        padding: 0;
    }

    #btn_predecir {
        width: 90%;
    }

    .calc__lista {
        padding: 0 10px;
    }

}