@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav {
    width: 100%;
    height: 80px;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    box-shadow: 0px 0px 8px 5px rgba(201, 201, 201, 0.2);
    position: fixed;
    z-index: 9;
    margin-top: -80px;
}

.nav__header {
    width: 100%;
    max-width: 1080px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav__titulo {
    display: flex;
    align-items: center;
    padding: 1px;
    gap: 1rem;
    color: #575757;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo>img {
    width: 70px;
}

.nav__redes {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
}

.nav__redes>ul {
    display: flex;
    gap: 2rem;
}

.nav__redes>ul>li {
    list-style: none;
    cursor: pointer;
}