.container-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.container-table>h3 {
    font-weight: lighter;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.table__ume>thead>tr>th {
    padding: 1rem;
    color: rgb(124, 124, 124);
}

.table__ume>tbody>tr>td {
    padding: .2rem .1rem;
}

.table__ume>tbody>tr>td:nth-child(1),
.table__ume>tbody>tr>td:nth-child(2),
.table__ume>tbody>tr>td:nth-child(4),
.table__ume>tbody>tr>td:nth-child(5) {
    text-align: center;
}

@media (max-width: 897px) {
    .container-table {
        width: 100%;
    }

    .container-table>h3 {
        width: 100%;
        text-align: center;
    }

    .table__ume {
        margin: 0 auto;
    }
}

@media (max-width: 525px) {
    .table__ume>thead>tr>th {
        font-size: .8rem;
        padding: 1px;
    }

    .table__ume>tbody>tr>td {
        font-size: .8rem;
        padding: 1px;
    }
}